@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$BgColor: #28282C;

html {
    background-color: $BgColor;
    font-family: 'Roboto', sans-serif;
    color: white;
}

